<div>

  <div class="d-flex justify-content-between">
    <h4>Registro de Persona</h4>
    <a href="#" routerLink="/crear" class="btn btn-primaryt">Regresar</a>
  </div>

  <hr/>

    <form [formGroup]="form" (ngSubmit)="submit()">

        <div class="form-group row">
            <div class="col-md-6 ">
              <label for="title">Nombre:</label>
              <input
                formControlName="nombre"
                id="nombre"
                type="text"
                class="form-control">
              <div *ngIf="f.nombre.touched && f.nombre.invalid" class="alert alert-danger">
                  <div *ngIf="f.nombre.errors.required">*Nombre es requerido.</div>
                  <div *ngIf="f.nombre.errors.pattern">*El nombre solo debe contener.</div>
              </div>
            </div>
        </div>


        <div class="form-group row">
            <div class="col-md-6 ">
              <label for="phone">NIT:</label>
              <input
                formControlName="nit"
                id="nit"
                type="text"
                class="form-control">
              <div *ngIf="f.nit.touched && f.nit.invalid" class="alert alert-danger">
                  <div *ngIf="f.nit.errors.required">*NIT requerido.</div>
                  <div *ngIf="f.nit.errors.pattern">*El numero de NIT no debe tener puntos ni comas.</div>
              </div>
            </div>
        </div>

        <button class="btn btn-primary" type="submit" [disabled]="!form.valid">Submit</button>
    </form>
</div>
